body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #1b1b1e;
}

.app-title {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 75px;
  color: #faa916;
  font-family: 'Bigelow Rules', cursive;
}